[submodule "chisel-base/chisel"]
	path = chisel-base/chisel
	url = https://github.com/aspire-project/chisel
[submodule "chisel-base/chiselbench"]
	path = chisel-base/chiselbench
	url = https://github.com/aspire-project/chiselbench
